@import './variables.css';
@import './reset.css';
@import './general.css';
@import './footer.css';

#app {
  /* height: 100%; */
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  /* padding-left: 2rem;
    padding-right: 2rem; */
}

.navbar {
  background-color: var(--clr-primary) !important;
}

.btn-primary {
  background-color: var(--clr-primary);
  border-color: var(--clr-primary);
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--clr-primary-hover);
  border-color: var(--clr-primary-hover);
}

.btn-primary:active {
  background-color: var(--clr-primary-active) !important;
  border-color: var(--clr-primary-active) !important;
}
