@import './variables.css';
@import './reset.css';
@import './general.css';
@import './footer.css';

#app {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3rem auto 6rem;
}

@media (min-width: 576px) {
  #app {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3rem auto 8rem;
  }
}

.navbar {
  background-color: var(--clr-primary) !important;
}

.btn-primary {
  background-color: var(--clr-primary);
  border-color: var(--clr-primary);
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--clr-primary-hover);
  border-color: var(--clr-primary-hover);
}

.btn-primary:active {
  background-color: var(--clr-primary-active) !important;
  border-color: var(--clr-primary-active) !important;
}

input[type='text']::placeholder {
  opacity: 0.75;
}
